@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Fjalla+One&family=Work+Sans&display=swap');

/* <!-------------------------------------------> */
/* ------------------GENERAL FORMATTING---------- */
/* <!-------------------------------------------> */

*{
  border:0;
  margin:0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  width:1440px;
} 

h1, h2{
  font-weight:normal;
  text-transform: uppercase;
}

a{
  text-decoration: none;
}

header,
main, 
footer{
  margin: 0 auto;
  width:100vw;
}

/* <!-------------------------------------------> */
/* <!------------GENERAL a Odd/Even------------> */
/* <!-------------------------------------------> */

section:not(:nth-of-type(5)) a{
  display:inline-block;
  font-family: 'Fjalla One', sans-serif;
  font-size:1rem;
  border:2px solid #9e9e9e;
  padding:1rem 1.625rem;
  text-transform: uppercase;
}
section:nth-of-type(odd) a{
  color:white;
}
section:nth-of-type(even) a{
  color:black;
  border:2px solid black;
}

/* <!-----GENERAL a HOVER Odd/Even-----> */
section:nth-of-type(odd) article a:hover+h2{
  color:white;
  opacity:1;
}
section:nth-of-type(even) article a:hover+h2{
  color:black;
  opacity:1;
}
section:nth-of-type(odd):not(:nth-of-type(5)) article a:hover{
  color:black;
  background: white;
  border:2px solid white;
}
section:nth-of-type(even) article a:hover{
  color:white;
  background: black;
}

/* <!-------------------------------------------> */
/* <!------------GENERAL p Odd/Even------------> */
/* <!-------------------------------------------> */
section:not(:nth-of-type(5)) p:first-of-type::before{
  content:"— ";
}
header p,
section p{
  font-family: 'Work Sans', sans-serif; 
  font-size: 1.25rem;
  letter-spacing: -0.05em;
}
section:nth-of-type(odd) p{
  color:#9e9e9e;
}
section:nth-of-type(even) p{
  color:#666;
}

/* <!-------------------------------------------> */
/* <!------------GENERAL h1 Odd/Even------------> */
/* <!-------------------------------------------> */
section h1{
  font-family: 'Didact Gothic', sans-serif;
  font-size: 7rem;
  text-transform: uppercase;
}
section:nth-of-type(odd) h1{
  color:white;
}
section:nth-of-type(even) h1{
  color:black;
}

/* <!-------------------------------------------> */
/* <!------------GENERAL h2 Odd/Even------------> */
/* <!-------------------------------------------> */
section article h2{
  font-family: 'Fjalla One', sans-serif;
  font-size: 10.125rem;
  line-height:12.9rem;
  letter-spacing:-0.02rem;
  color: #9e9e9e;
  opacity:0.2;
  text-align: right;
}
section:nth-of-type(even) article h2{
  color:#666;
  opacity:0.9;
}

/* <!------------HEADER----------------> */
header{
  text-align: center;
  height: 235vh;
}
header p{
  padding-top:2.5rem;
  padding-bottom: 3.75rem;
}
header h1{
  font-family: 'Didact Gothic', sans-serif;
  letter-spacing: -0.02em;
  font-size: 6.25rem;
  width:43.75rem;
  line-height: 8.125rem;
  margin:0 auto;  
  margin-bottom:3.75rem;   
}
header img{
  width: 45rem;
  padding-bottom: 7.5rem;
}
header h2{
  font-family: 'Work Sans', sans-serif; 
  font-size:10rem;
  line-height:11.6rem;
  margin-bottom: 9.375rem;
}

/* <!------------MAIN SECTTION 1 : ORBIS----------> */
section:nth-of-type(1){
  background: url(../img/portfolio2.jpg) no-repeat center/cover;  
  background-color: black;
  height:100vh;
  position: relative;
}

/* <!-MAIN SECTTION 1 : ORBIS - Grauer Layer auf Bild-> */
section:nth-of-type(1)::before{
  content:'';
  display:block;
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height: 100%;
  background-color: black;
  opacity: 0.6; 
}

/* <!-MAIN SECTTION 1 : ORBIS - Positionierung Artikel-> */
section{
  position: relative;
}
section:not(:nth-of-type(5)) article{
  position: absolute;
  width: 78%;
  margin-left:13rem;
  top:20%;
}
section article h1{
  margin-top:1.25rem;
}
section article p:nth-of-type(2){
  margin-top:2.5rem;
}
section:not(:nth-of-type(5)) article a{
  margin-top:5rem;
}

/* <!------------MAIN SECTTION 2 : ROLLR ----------> */
section:nth-of-type(2){
  background: url(../img/portfolio3.png) no-repeat center/cover;  
  height:123vh;
}

/* <!------------MAIN SECTTION 3 : GALITO'S ----------> */
section:nth-of-type(3){
  background: url(../img/portfolio4.jpg) no-repeat center/cover;  
  height:100vh;
}

/* <!------------MAIN SECTTION 4 : TRETTO ----------> */
section:nth-of-type(4){
  background: url(../img/portfolio5.png) no-repeat center/cover;  
  height:123vh;
}

/* <!----------MAIN SECTTION 5 : What more?-------> */
section:nth-of-type(5){
  background-color: black;
  height: 110vh;
}
section:nth-of-type(5) h1{
  font-size: 11.25rem;
  color:white;  
  font-family: 'Work Sans', sans-serif; 
  letter-spacing: -0.1em;
  text-transform: none;
  text-align: center;
  padding-top:8.125rem;
}
section:nth-of-type(5) article{
  color:#666;
  width: 44rem;
  margin-left: 40rem;
}
section:nth-of-type(5) article p{
  font-size: 1.375rem;
  line-height:2.5rem;
  margin-top: 9.375rem;
  letter-spacing: 0.01em;
}
section:nth-of-type(5) article a{
  display:inline-block;
  font-family: 'Work Sans', sans-serif; 
  font-size: 3.75rem;
  letter-spacing: -0.06em;
  margin-top: 4.375rem;
}
section:nth-of-type(5) article a:hover{
  text-decoration: underline;
}

/* <!---------------------FOOTER----------------------> */
footer{
  height:176vh;
  position: relative;
}
footer a{
  font-family: 'Didact Gothic', sans-serif;
  color:black;
  display: block;
  text-align: center;
  font-size: 10rem;
  line-height: 13.125rem;
  margin-top:14.375rem;
}

footer a:nth-of-type(1n +2){
  margin-top:9.375rem;
}

footer a:hover{
  text-decoration: underline;
}

/* -------- PULSING HEART --------- */
footer article{
  bottom:8.125rem;
  left:50%;
  position: absolute;
  transform: scale(0.2);
}
#wrapper {
	position: absolute;
	animation:pulse 1s infinite;
}
#pulsingheart { 
  position: relative; 
  width: 6.25rem; 
  height: 5.625rem;
} 
#pulsingheart:before, #pulsingheart:after { 
  position: absolute; 
  content: ""; 
  left: 3.125rem; 
  top: 0; 
  width: 3.125rem; 
  height: 5rem; 
  background: #000000; 
  border-radius: 3.125rem 3.125rem 0 0; 
  transform: rotate(-45deg);  
  transform-origin: 0 100%;
  animation:pulsecolor 1s infinite;
} 
#pulsingheart:after { 
  left: 0; 
  transform: rotate(45deg); 
  transform-origin :100% 100%;
  animation:pulsecolor 1s infinite;
}
@keyframes pulse {
	10% {transform: scale(1.1)}
}
@keyframes pulsecolor {
  10% {background: #000000}
}